/* Text Layout */
h1 {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 7rem;
  line-height: 80px;
  letter-spacing: 15px; }

h2 {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 5rem; }

h3 {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 3rem;
  margin-bottom: 0px; }

h4 {
  color: #5f5f87;
  font-family: 'Josefin Slab', serif;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  line-height: 50%; }

p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px; }

button {
  font-family: 'Josefin Slab', serif;
  line-height: 40px;
  border: solid 2px #fff;
  padding: 0 20px;
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  transition: cubic-bezier(0.49, 0.11, 0.64, 0.97) 0.5s;
  cursor: pointer;
  background-color: transparent;
  margin: 10px; }

button:hover {
  background-color: #fff;
  color: #000; }

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px; }

.logo-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px; }

.logo-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px; }

.logo-menu {
  width: 10%; }

.page-content {
  margin-left: 5%;
  margin-top: 5%; }

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.highlight {
  color: #10A2BB; }

.main {
  background: url(../../images/glow.png) left top no-repeat #02031d; }

.align-center {
  text-align: center; }

.hide-overflow {
  overflow: hidden; }

@media only screen and (min-width: 800px) {
  .logo {
    width: 250px; }
  .logo-bottom {
    width: 250px;
    margin-bottom: 15px;
    margin-right: 15px; }
  .logo-bottom-left {
    width: 250px;
    margin-bottom: 15px;
    margin-left: 15px; } }

@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 5%;
    margin-left: 5%; } }

/* Background */
.landing-sub p {
  display: inline-block; }

.landing-sub img {
  position: relative;
  top: 5;
  margin-left: 5px;
  transition: .65s; }

.landing-sub img:hover {
  top: -3%; }

.mouse-pointer {
  cursor: pointer; }

/* Size specific */
@media only screen and (min-width: 200px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    margin-top: 25%;
    margin-bottom: 0px; }
  p {
    margin-left: 0px;
    font-size: 0.8rem; }
  .window-animated {
    width: 100%;
    height: 100%;
    background: url("../../images/space_window_xsmall.png") no-repeat;
    left: 40%;
    top: 5%;
    opacity: 0.8;
    position: absolute;
    z-index: -1; } }

@media only screen and (min-width: 300px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.7rem;
    margin-left: 10%;
    margin-top: 10%; }
  p {
    margin-left: 10%; }
  .window-animated {
    width: 100%;
    height: 100%;
    background: url("../../images/space_window_small.png") no-repeat;
    left: 50%;
    top: 10%;
    opacity: 0.8;
    position: absolute;
    z-index: -1; } }

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: 15px;
    margin-top: 12%;
    margin-left: 10%;
    margin-bottom: 0%; }
  p {
    margin-left: 10%; }
  .window-animated {
    width: 430px;
    height: 580px;
    background: url("../../images/stars_final.png") left center;
    left: 50%;
    top: 15%;
    opacity: 1;
    position: absolute;
    z-index: -1;
    animation: sprite 3s steps(64) infinite; } }

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 7.5rem;
    line-height: 110px;
    letter-spacing: 17px;
    margin-top: 12%;
    margin-left: 15%;
    margin-bottom: 0%; }
  p {
    margin-left: 15%; }
  .window-animated {
    width: 430px;
    height: 580px;
    background: url("../../images/stars_final.png") left center;
    left: 55%;
    top: 15%;
    opacity: 1;
    position: absolute;
    z-index: -1;
    animation: sprite 3s steps(64) infinite; } }

@keyframes sprite {
  100% {
    background-position: -27520px; } }
