/* Text Layout */
h1 {
  color: white;
  font-family: 'Josefin Slab', serif; }

h2 {
  color: white;
  font-family: 'Josefin Slab', serif; }

h3 {
  color: white;
  font-family: 'Josefin Slab', serif; }

h4 {
  color: #5f5f87;
  font-family: 'Josefin Slab', serif; }

p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif; }

.highlight {
  color: #10A2BB; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: 15px; }
  h2 {
    font-size: 2.3rem; }
  h3 {
    font-size: 1.3rem; }
  h4 {
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 50%; }
  p {
    letter-spacing: 2px; } }

/* Background */
.landing {
  background: url(../../images/glow.png) left top no-repeat #02031d; }

.landing-sub p {
  display: inline-block; }

.landing-sub img {
  position: relative;
  top: 5;
  margin-left: 5px;
  transition: .65s; }

.landing-sub img:hover {
  top: -3%; }

/* Attributes */
.window {
  z-index: -1;
  position: absolute; }

.stars {
  z-index: -2;
  position: absolute; }

.mouse-pointer {
  cursor: pointer; }

/* Size specific */
@media only screen and (min-width: 768px) {
  .window {
    left: 48%;
    top: 10%; }
  .stars {
    left: 52%;
    top: 18%; }
  h1 {
    margin-top: 12%;
    margin-left: 10%;
    margin-bottom: 0%; }
  p {
    margin-left: 10%; } }
