/* Size specific */

.commitment {
    background: url(../images/pol-1-top.png) left top no-repeat, url(../images/pol-1-bottom.png) right bottom no-repeat;
    background-color: #02031d;
}

@media only screen and (min-width: 768px) {
    h1 {
        margin-top: 12%;
        margin-left: 35%;
    }
    p {
        margin-top: 1%;
        margin-left: 30%;
    }
}