$commit-white: white;
$commit-gray: white;
body {
    background: #02031d;
}


/* Text Layout */

h1 {
    color: $commit-white;
    font-family: 'Josefin Slab', serif;
}

p {
    color: $commit-white;
    font-family: 'Open Sans Condensed', sans-serif;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 75px;
        line-height: 80px;
        letter-spacing: 15px;
    }
    p {
        letter-spacing: 2px;
    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 767px) and (orientation: portrait) {}