body {
  background: #02031d; }

/* Text Layout */
h1 {
  color: white;
  font-family: 'Josefin Slab', serif; }

p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 75px;
    line-height: 80px;
    letter-spacing: 15px; }
  p {
    letter-spacing: 2px; } }
