<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Solutions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans+Condensed:300" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/pages/styles.css">
    <link rel="stylesheet" type="text/css" href="css/hover-effects.css" />
    <link rel="stylesheet" type="text/css" href="css/pages/solutions.css" />
    <link rel="stylesheet" type="text/css" href="css/overlay.css" />

    <!-- Scripts -->
    <script src="js/modernizr.custom.js"></script>

</head>

<body class="solutions">
    <h1>Solutions</h1>

    <div id="solution-container" class="solution-container">
        <div class="solution-left">
            <div class="bg-consultancy">
                <div class="bg-layer">
                </div>
            </div>
        </div>

        <div class="solution-selection">
            <h3 v-on:click="toggleConsultancy" class="lh-eff1 c1-blue">.NET Consultancy Services</h3>
            <br />
            <h3 v-on:click="toggleDevelopment" class="lh-eff1 c1-blue">Development Services</h3>
            <br />
            <h3 v-on:click="toggleSolution" class="lh-eff1 c1-blue">Process Services</h3>
        </div>
        <div class="solution-right">
            <div class="solution-text">
                <div v-if="consultancy" id="consultancy">
                    <h3>.NET Consultancy Services</h3>
                    <p>Onze consultants helpen samen met onze klanten kwalitatieve oplossingen te ontwikkelen.</p>
                    <p>Ze werken volgens de coding guidelines en marktstandaarden.</p>
                    <p>Een persoonlijk opleidingsplan helpt de consultants bij te blijven met de nieuwste standaarden, waardoor
                        ze samen met klanten kunnen werken aan toekomstgerichte oplossingen.</p>
                    <p>Daarnaast is het voor 2commit ook zeer belangrijk de juiste consultant bij de juiste klant te plaatsen.
                        Tevreden klanten en consultants zorgen voor het ideale evenwicht!</p>
                </div>
                <div v-if="development" id="development">
                    <h3>Development Services</h3>
                    <p>Aan de hand van best practices en onze ervaringen, nemen we jouw omgeving onder de loupe en bekijken
                        we samen wat de verwachtingen zijn en hoe we dit kunnen optimaliseren.</p>
                </div>
                <div v-if="process" id="process">
                    <h3>Process Services</h3>
                    <p>Kwalitatieve software bouwen is niet alleen afhankelijk van technische capaciteiten, maar ook van het
                        applicatieproces.
                    </p>
                    <p>Samen met jou bekijken we hoe het ontwikkelingsproces kan geoptimaliseerd worden aan de hand van ALM
                        (Application Lifecycle Management) principes.</p>
                    <p>We begeleiden jullie in het praktisch uitwerken van deze principes aan de hand van de Microsoft Tools.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Vue -->
    <script src="https://unpkg.com/vue"></script>

    <!-- Page script -->
    <script src="js/pages/solutions.js"></script>

    <!--build:js js/main.min.js -->
    <script src="js/classie.js"></script>
    <!-- endbuild -->

</body>

</html>