@import 'styles';
.commitment-helmet {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url(../../images/helmet-image.png) right top no-repeat;
    background-size: cover;
}

.commitment-stars {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url(../../images/commitment-stars.png) right top no-repeat;
    background-size: cover;
}

.commitment-splashes {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url(../../images/commitment-splashes.png) right top no-repeat;
    background-size: cover;
}

.commitment-pic {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.scene {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.commitment-img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.helmet {
    z-index: -1;
}

.splashes {
    z-index: -3;
}

.stars {
    z-index: 0;
}