@import 'styles';

/* Background */

h1 {
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: 15px;
}

.landing-sub {
    p {
        display: inline-block;
    }
    img {
        position: relative;
        top: 5;
        margin-left: 5px;
        transition: .65s;
    }
    img:hover {
        top: -3%;
    }
}


/* Attributes */

.window {
    z-index: -1;
    position: absolute;
}

.stars {
    z-index: -2;
    position: absolute;
}

.mouse-pointer {
    cursor: pointer;
}

.window-animated {
    width: 430px;
    height: 580px;
    background: url("../../images/stars_final.png") left center;
    left: 50%;
    top: 15%;
    position: absolute;
    z-index: -1;
    animation: sprite 3s steps(64) infinite;
}


/* Size specific */

@media only screen and (min-width: 768px) {
    .window {
        left: 50%;
        top: 15%;
    }
    .stars {
        left: 52%;
        top: 18%;
    }
    h1 {
        margin-top: 12%;
        margin-left: 10%;
        margin-bottom: 0%;
    }
    p {
        margin-left: 10%;
    }
}

@keyframes sprite {
    100% {
        background-position: -27520px;
    }
}