@import 'styles';
::-webkit-scrollbar {
    display: none;
}

.twitter-tv {
    width: 40%;
    pointer-events: none;
}

.tweets {
    background: url('../../images/jobs_tv_wide.png') no-repeat center;
    background-size: 1100px;
    width: 100%;
    height: 1100px;
}

.tweets-text-container {
    width: 400px;
    padding-top: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tweet-text {
    color: white;
}

.landing-sub {
    a {
        display: inline-block;
        margin-left: 30px;
        margin-top: 10px;
        font-size: 0.6rem;
        text-decoration: none;
        color: $commit-white;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 2px;
    }
}

.mouse-pointer {
    cursor: pointer;
}

.tweet-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 0px;
}

p {
    margin-left: 10px;
    font-size: 0.8rem;
}

.window-animated {
    width: 100%;
    height: 100%;
    background: url("../../images/space_window_xsmall.png") no-repeat;
    left: 100px;
    top: -20px;
    position: absolute;
    z-index: -2;
    opacity: 0.8;
}

.landing-navigation-block {
    text-align: right;
    max-width: 370px;
    margin: 44px auto 56px auto;
    position: relative;
    overflow: hidden;
}

.landing-navigation-block .txt {
    position: absolute;
    right: 0px;
    bottom: 30px;
}

.landing-navigation-block .txt:before {
    content: '';
    position: absolute;
    z-index: -1;
}

.landing-navigation-block .txt h3 {
    font-weight: 400;
    font-size: 30px;
    margin: 0px 20px 8px 0px;
}

.landing-navigation-block .txt h4 {
    font-weight: 400;
    font-size: 12px;
}

.landing-navigation-block:before {
    content: '';
    position: absolute;
    background: $color-primary-1;
    width: 150%;
    height: 70%;
    bottom: -40%;
    right: -59%;
    transform: rotate(-33deg);
}

.landing-navigation-block hr {
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 1px solid $commit-white;
    z-index: 5;
    width: 250px;
    margin: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.landing-navigation-block:hover hr {
    border-color: $color-primary-flash;
}

.landing-navigation-img {
    margin-left: 5px;
    margin-bottom: -5px;
}


/* Size specific */

@media only screen and (min-width: 350px) {
    h1 {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        margin-left: 25px;
        margin-top: 120px;
    }
    p {
        margin-left: 25px;
    }
    .landing-sub {
        a {
            margin-left: 25px;
            margin-top: 15px;
            font-size: 0.8rem;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 2px;
        }
    }
    .window-animated {
        width: 100%;
        height: 100%;
        background: url("../../images/space_window_small.png") no-repeat;
        left: 170px;
        top: -40px;
        opacity: 0.8;
        position: absolute;
        z-index: -1;
    }
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: 0.3rem;
        margin-top: 150px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    p {
        margin-left: 25px;
    }
    .landing-sub {
        a {
            display: inline-block;
            margin-left: 40px;
            margin-top: 15px;
            font-size: 0.8rem;
            text-decoration: none;
            color: $commit-white;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 2px;
        }
    }
    .window-animated {
        width: 100%;
        height: 100%;
        background: url("../../images/space_window_small.png") no-repeat;
        left: 300px;
        top: 0;
        opacity: 1;
        position: absolute;
        z-index: -1;
    }
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 1rem;
        margin-top: 150px;
        margin-left: 70px;
    }
    p {
        margin-left: 70px;
    }
    .landing-sub {
        a {
            margin-left: 70px;
            margin-top: 25px;
            font-size: 0.8rem;
            letter-spacing: 2px;
        }
    }
    .window-animated {
        width: 100%;
        height: 100%;
        background: url("../../images/space_window_small.png") no-repeat;
        left: 400px;
        top: 0;
        opacity: 1;
        position: absolute;
        z-index: -1;
    }
}

@media only screen and (min-width: 900px) {
    h1 {
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 1rem;
        margin-top: 200px;
        margin-left: 100px;
    }
    p {
        margin-left: 100px;
    }
    .landing-sub {
        a {
            margin-left: 100px;
            margin-top: 35px;
            font-size: 0.8rem;
            letter-spacing: 2px;
        }
    }
    .window-animated {
        width: 430px;
        height: 580px;
        background: url("../../images/stars_final.png") left center;
        left: 450px;
        top: -100px;
        opacity: 1;
        position: absolute;
        z-index: -1;
        animation: sprite 3s steps(64) infinite;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 7.5rem;
        line-height: 110px;
        letter-spacing: 17px;
        margin-top: 200px;
        margin-left: 220px;
        margin-bottom: 0px;
    }
    p {
        margin-left: 220px;
    }
    .landing-sub {
        a {
            margin-left: 220px;
            margin-top: 35px;
            font-size: 1rem;
            letter-spacing: 2px;
        }
    }
    .window-animated {
        width: 430px;
        height: 580px;
        background: url("../../images/stars_final.png") left center;
        left: 900px;
        top: -50px;
        opacity: 1;
        position: absolute;
        z-index: -1;
        animation: sprite 3s steps(64) infinite;
    }
}

@media only screen and (min-width: 1800px) {
    h1 {
        font-size: 8.5rem;
        line-height: 150px;
        letter-spacing: 20px;
        margin-top: 220px;
        margin-left: 260px;
        margin-bottom: 0px;
    }
    p {
        margin-left: 260px;
    }
    .landing-sub {
        a {
            margin-left: 260px;
            margin-top: 35px;
            font-size: 0.8rem;
            letter-spacing: 2px;
        }
    }
    .window-animated {
        width: 430px;
        height: 580px;
        background: url("../../images/stars_final.png") left center;
        left: 1050px;
        top: 20px;
        opacity: 1;
        position: absolute;
        z-index: -1;
        animation: sprite 3s steps(64) infinite;
    }
}

@keyframes sprite {
    100% {
        background-position: -27520px;
    }
}