$commit-white: white;
$commit-gray: white;
$commit-purple: #5f5f87;
$commit-highlight: #10A2BB;
$commit-bg: #02031d;
$color-primary-0: #02031D; // Main Primary color */
$color-primary-1: #131450;
$color-primary-2: #060733;
$color-primary-3: #00010C;
$color-primary-4: #000002;
$color-primary-flash: #02031D;

/* Text Layout */

h1 {
    color: $commit-white;
    font-family: 'Josefin Slab', serif;
    font-size: 7rem;
    line-height: 80px;
    letter-spacing: 15px;
}

h2 {
    color: $commit-white;
    font-family: 'Josefin Slab', serif;
    font-size: 5rem;
}

h3 {
    color: $commit-white;
    font-family: 'Josefin Slab', serif;
    font-size: 3rem;
    margin-bottom: 0px;
}

h4 {
    color: $commit-purple;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 50%;
}

p {
    color: $commit-white;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

button {
    font-family: 'Josefin Slab', serif;
    line-height: 40px;
    border: solid 2px #fff;
    padding: 0 20px;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    transition: cubic-bezier(0.49, 0.11, 0.64, 0.97) 0.5s;
    cursor: pointer;
    background-color: transparent;
    margin: 10px;
}

button:hover {
    background-color: #fff;
    color: #000;
}

.logo {
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.page-content {
    margin-left: 5%;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.highlight {
    color: $commit-highlight;
}

.main {
    background: url(../../images/glow.png) left top no-repeat #02031d;
}

.align-center {
    text-align: center;
}