@import 'styles';
h1 {
    margin-top: 5%;
    margin-left: 5%;
}

.styleguide-section {
    text-align: center;
}

.styleguide-divider {
    background-color: $color-primary-1;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 100px;
}

.styleguide-divider-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.divider {
    min-height: 100px;
}

.signature textarea {
    min-height: 300px;
    overflow: hidden;
}

.logos-styleguide {
    text-align: center;
}

.color1 {
    background-color: $commit-highlight;
}

.color2 {
    background-color: $color-primary-2;
}

.color3 {
    background-color: $color-primary-0;
}

@media only screen and (min-width: 50px) {
    .styleguide-section {
        margin-left: 10%;
        margin-right: 10%;
    }
    .styleguide-divider-section {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 900px) {
    .styleguide-section {
        margin-left: 30%;
        margin-right: 30%;
    }
    .styleguide-divider-section {
        margin-left: 20%;
        margin-right: 20%;
    }
}