@import 'styles';
img {
    margin: auto;
    display: block;
}

.spaceman {
    width: 275px;
    height: 278px;
    background: url("../../images/spaceman_walking_sheet.png") left center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -2;
}

.spaceman-animate {
    width: 275px;
    height: 278px;
    background: url("../../images/spaceman_walking_sheet.png") left center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -2;
    animation: sprite .7s steps(47) 1;
}

.spaceman-animate-b {
    width: 275px;
    height: 278px;
    background: url("../../images/spaceman_walking_sheet.png") left center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -2;
    animation: sprite-b .7s steps(47) 1;
}

#planet {
    z-index: -1;
    margin-top: -50px;
    transition: transform 0.3s linear;
}

.team-margin {
    margin-top: 5%;
}

.team-margin-text {
    margin-top: 3%;
}

.team-title {
    color: $commit-white;
    font-family: 'Josefin Slab', serif;
    font-size: 5rem;
}

.team-role {
    color: $commit-highlight;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-size: 2rem;
}

.team-text {
    color: $commit-white;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    h1 {
        margin-top: 5%;
        margin-left: 5%;
    }
}

@keyframes sprite {
    100% {
        background-position: -12925px;
    }
}

@keyframes sprite-b {
    100% {
        background-position: -12925px;
    }
}