@import 'styles';
h3 {
    text-decoration: line-through;
}

.icon {
    font-size: 64px;
    color: $commit-white;
}

.tools {
    margin-left: 20%;
    margin-right: 20%;
}

a {
    font-family: 'Josefin Slab', serif;
    color: $commit-white;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

a:hover {
    color: $commit-highlight;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}